html, body {
	margin: 0;
	padding: 0;
}

html {
	font-family: sans-serif;
}

canvas {
	display: block;
	margin: 0 auto;
	border: 1px solid black;
}

img {
	display: block;
	margin: 0 auto;
	border: 1px solid black;
}

.information {
	width: 640px;
	margin: 0 auto 50px;
}

#tracker {
	position: absolute;
	top: 0;
	right: 10px;
	background-color: white;
}

h1 {
	font-size: 200%;
}

body{text-align: center;background: #f2f6f8;}
.img{position:absolute;z-index:1;}

#container{
    display:inline-block;
    width:640px; 
    height:360px;
    margin: 0 auto; 
    background: white; 
    position:relative; 
    border:5px solid black; 
    border-radius: 10px; 
    box-shadow: 0 5px 50px #333}

#reticleCanvas{
    position:relative;
    z-index:20;
}