<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Pointer lock demo</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5">Live Streaming</h3>
            </div>
        </div>
    </div>
    <div id="container">
        <img class='img' src="{{ url_for('video_feed') }}" width="640"/>
    </div>
</body>

</html>