<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Pointer lock demo</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    
            
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5">Live Streaming</h3>
            </div>
        </div>
        <div class="row">
            <button class="btn-move-camera" id="UP" value="UP">UP</button>
            <button class="btn-move-camera" id="DOWN" value="DOWN">DOWN</button>
            <button class="btn-move-camera" id="LEFT" value="LEFT">LEFT</button>
            <button class="btn-move-camera" id="RIGHT" value="RIGHT">RIGHT</button>
            <button class="btn-move-camera" id="MIDDLE" value="MIDDLE">MIDDLE</button>
            <button class="btn-refresh-camera" id="REFRESH" value="REFRESH">REFRESH</button>
        </div>
        <div class="row">
            <button class="btn-on-relay" id="relay_1_on" value="1">R1 ON</button>
            <button class="btn-on-relay" id="relay_2_on" value="2">R2 ON</button>
            <button class="btn-on-relay" id="relay_3_on" value="3">R3 ON</button>
            <button class="btn-on-relay" id="relay_4_on" value="4">R4 ON</button>
        </div>
        <div class="row">
            <button class="btn-off-relay" id="relay_1_off" value="1">R1 OFF</button>
            <button class="btn-off-relay" id="relay_2_off" value="2">R2 OFF</button>
            <button class="btn-off-relay" id="relay_3_off" value="3">R3 OFF</button>
            <button class="btn-off-relay" id="relay_4_off" value="4">R4 OFF</button>
        </div>
    </div>
    <div class="information">
        <h1>Pointer lock demo</h1>

        <p>Click on the canvas area and your mouse will directly control the ball inside the canvas. You can press escape to return to the standard expected state.</p>
    </div>

    <div id="container">
        <img class='img' src="{{ url_for('video_feed') }}" alt="" width="640"/>
        <canvas id="reticleCanvas" width="640" height="360">
            Your browser does not support HTML5 canvas
        </canvas>
    </div>
    <div id="tracker"></div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js" type="text/javascript"></script>
    <script src="{{url_for('static', filename='app.js')}}"></script>
    <script src="{{url_for('static', filename='mqtt.js')}}"></script>
    <script src="{{url_for('static', filename='buttons.js')}}"></script>
    <script type="text/javascript">
        MQTTconnect("{{ MQTT_BROKER_ADDRESS }}", "{{ MQTT_BROKER_WEBSOCKET_PORT }}", "{{ MQTT_BROKER_USER }}", "{{ MQTT_BROKER_PASSWORD }}", "{{ MQTT_TOPIC }}", "{{ MQTT_TOPIC_CAMERA }}", "{{ MQTT_TOPIC_CAMERA_MOVE }}");
        setButtonActions()
    </script>

</body>

</html>